@charset "utf-8";
body,html,#mainimg {width: 100%;height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: white;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;	
	line-height: 2;	
	background: black;	
}
header{
	display: flex;
	justify-content: space-around;
	height: 10vh;
}
header h1{
	font-size: 40px;
	align-items: center;
}
.tab-nav {
	display: flex;
	text-align: center;
	align-items: center;
  }
  
  .tab-nav li {
	border-right: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;

  }
  
  .tab-nav li:first-child {
	border-left: 1px solid white;
  }
  
  .tab-nav li a {
	display: block;
	padding: 5px 10px;
	color: gray;
	text-decoration: none;
  }
  
  .tab-content {
	width: 100%;
	height: 80%;
	z-index: -1;
	margin: 0 auto;
  }
  .tab-content h1{
	text-align: center;
    margin: 0 auto 30px 0;
    font-size: 32px;

  }
  dl{
    /* width: 100vw; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
dt{
    width: 50vw;
    font-weight: bold;

    margin: auto 15px;
}
dd{
    width: 50vw;
}

input[type=text],
input[type=email],
input[type=tell],
textarea{
    padding:10px 10px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.box{
    background-color:black;
    padding:30px;
    color: white;
  
}
.text-center{
    text-align: center;
}
.submit{
    margin-top: 30px;

}
.submit input{
    width: 300px;
    padding: 15px;
    border: none;
    font-size: 24px;
    background-color: #ff7226;
    color: white;
    border-radius: 20px;
    box-shadow: 0 5px 0 #9d4414;
    transition: .3s;
}

.submit input:hover{
    cursor: pointer;
    transform: translateY(4px);
    box-shadow:0 0 0 ;
}
footer{
    height:10vh;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

@media screen and (orientation: portrait){


#mainimg li {
	width: 50%;			
	height: 50%;		
}


#mainimg a span {
	left: 0px;		
	bottom: 0px;	
}

}




@media screen and (max-width:800px){

#mainimg a {
	background: transparent;
}
header{
	height: 20vh;
	align-items: center;
	text-align: center;
}
header h1{
	font-size: 24px;
	align-items: center;
}

}


@media screen and (orientation: portrait){


	#mainimg li {
		width: 50%;			
		height: 50%;		
	}
	
	
	#mainimg a span {
		left: 0px;		
		bottom: 0px;	
	}
	
	}
	
	
	
	
	@media screen and (max-width:800px){
	
	#mainimg a {
		background: transparent;
	}
	header{
		height: 20vh;
		align-items: center;
		text-align: center;
	}
	header h1{
		font-size: 24px;
		align-items: center;
	}
	
	}
	